<p>matatopos works!</p>

<div class="contenedor">
    
    <div class="cuadro">

        <div class="casilla" *ngIf="numeroAleatorio == 1; else uno">
            <button class="topo" (click)="matartopo()"><img src="/topo.webp" width="70%"/></button>
        </div>
        <ng-template #uno>
            <button class="casilla">1</button>
        </ng-template>
        








        <div class="casilla" *ngIf="numeroAleatorio == 2; else dos">
            <button class="topo" (click)="matartopo()"><img src="/topo.webp" width="70%"/></button>
        </div>
        <ng-template #dos>
            <button class="casilla">2</button>
        </ng-template>
        
        <div class="casilla" *ngIf="numeroAleatorio == 3; else tres">
            <button class="topo" (click)="matartopo()"><img src="/topo.webp" width="70%"/></button>
        </div>
        <ng-template #tres>
            <button class="casilla">3</button>
        </ng-template>



        <div class="casilla" *ngIf="numeroAleatorio == 4; else cuatro">
            <button class="topo" (click)="matartopo()"><img src="/topo.webp" width="70%"/></button>
        </div>
        <ng-template #cuatro>
            <button class="casilla">4</button>
        </ng-template>

        <div class="casilla" *ngIf="numeroAleatorio == 5; else cinco">
            <button class="topo" (click)="matartopo()"><img src="/topo.webp" width="70%"/></button>
        </div>
        <ng-template #cinco>
            <button class="casilla">5</button>
        </ng-template>

        <div class="casilla" *ngIf="numeroAleatorio == 6; else seis">
            <button class="topo" (click)="matartopo()"><img src="/topo.webp" width="70%"/></button>
        </div>
        <ng-template #seis>
            <button class="casilla">6</button>
        </ng-template>




        <div class="casilla" *ngIf="numeroAleatorio == 7; else siete">
            <button class="topo" (click)="matartopo()"><img src="/topo.webp" width="70%"/></button>
        </div>
        <ng-template #siete>
            <button class="casilla">7</button>
        </ng-template>

        <div class="casilla" *ngIf="numeroAleatorio == 8; else ocho">
            <button class="topo" (click)="matartopo()"><img src="/topo.webp" width="70%"/></button>
        </div>
        <ng-template #ocho>
            <button class="casilla">8</button>
        </ng-template>

        <div class="casilla" *ngIf="numeroAleatorio == 9; else nueve">
            <button class="topo" (click)="matartopo()"><img src="/topo.webp" width="70%"/></button>
        </div>
        <ng-template #nueve>
            <button class="casilla">9</button>
        </ng-template>

    </div>


</div>

<div class="resultado">
    <p>Contador: {{ contador }}</p>
</div>
<button (click)="reiniciarContador()">Reiniciar Contador</button>