.personajes-grid {
  background-image: url('/images/barco.jpg');
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 100px;
}

:host-context(.halloween-mode) .personajes-grid {
  background-image: url('/images/halloween-background.jpg');
}